.modal {
    display: none;     
    position: fixed;
    inset: 0;                    
    background: rgba(0,0,0,0.6); 
    z-index: 999;

    justify-content: center;      
    align-items: center;
}

.modal-container {
    text-align: center;
    color: #777;
    background-color: black; 
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}


body {
    background-color: #0b0b0b;
    color: #cfcfcf;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.blog {
    background-color: #111;
    width: 600px;
    max-width: 90%;
    padding: 30px;
    border: 1px solid #222;
    box-shadow:
        0 0 10px rgba(0,0,0,0.9),
        0 0 20px rgba(50,0,0,0.4);
}

h1 {
    color: #e0e0e0;
    font-size: 22px;
    margin-bottom: 5px;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
    text-align: center;
}

h2 {
    color: #777;
    font-size: 18px;     
    text-align: center;
    margin-bottom: 12px;
}


h3 {
    color: #777;
    font-size: 14px;     
    text-align: center;
    margin-bottom: 10px; 
}


.blog p {
    line-height: 1.6;
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #151515;
    color: #ccc;
    border: 1px solid #333;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #1f1f1f;
    color: #fff;
    border-color: #555;
}

.imageOfHallway {
    text-align: center;
}

.form-container button {
    margin-top: 20px; 
}

strong {
    color: #33ff88;
}